In [ ]:
import numpy as np, pandas as pd

df = pd.read_csv(r"C:\vsproj\mlc\data\Titanic-Dataset.csv")

df.isna().sum()